<html>
    <head>
        <link rel="stylesheet" href="../static/login.css">

    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <b>{{message}}</b>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>Login Page</h1>
        <div class='login'>
            <fieldset>
                <form action="/" method="POST">
                    <label for="Login">Login Below</label>
                    <input type="text" name="username" placeholder="Login with username">
                    <input type="submit" value="login">
                </form>
            </fieldset>
        </div>
        <div class='li'></div>
            <a href='register'>Click here to register</a>
        </div>
        </body>
    </body>
</html>


